@if (string.IsNullOrWhiteSpace(DisplayMessage) == false)
{
    var statusMessageClass = IsError ? "alert-error" : "alert-success";
    <div class="alert @statusMessageClass" role="alert">
        @if (IsError)
        {
            <CircleXIcon />
        }
        else
        {
            <CircleCheckIcon />
        }
        <span>
            @DisplayMessage
        </span>
    </div>
}

@code {
    [Parameter]
    public string? Message { get; set; }

    private string? DisplayMessage => Message;

    private bool IsError => DisplayMessage?.StartsWith("Error") ?? false;
}