<div class="navbar bg-base-100 shadow-sm">
    <div class="flex-1">
        <NavLink href="/" class="btn btn-ghost text-xl">Accounting</NavLink>
    </div>
    <div class="flex gap-2">
        <ThemeSwitch />

        <AuthorizeView>
            <Authorized>
                <Avatar />
            </Authorized>
            <NotAuthorized>
                <NavLink class="btn btn-link px-0" href="/Account/Login">登录</NavLink>
                <NavLink class="btn btn-link px-0" href="/Account/Register">注册</NavLink>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    
}