@page "/"

<PageTitle>首页</PageTitle>

<div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-4 gap-4">
    <div class="card bg-base-100 h-36 w-full shadow-sm hover:shadow-md">
        <div class="card-body flex flex-col justify-center">
            <div class="card-title justify-center">
                新建账本
            </div>
            <NavLink href="/Ledgers/Create" class="size-full cursor-pointer flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-plus">
                    <path d="M5 12h14" />
                    <path d="M12 5v14" />
                </svg>
            </NavLink>
        </div>
    </div>

    <div class="card bg-base-100 h-36 w-full shadow-sm hover:shadow-md">
        <div class="card-body flex flex-col justify-center">
            <div class="card-title justify-center">
                导入账单
            </div>
            <NavLink href="/Import/Channel" class="size-full cursor-pointer flex items-center justify-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none"
                    stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
                    class="lucide lucide-import">
                    <path d="M12 3v12" />
                    <path d="m8 11 4 4 4-4" />
                    <path d="M8 5H4a2 2 0 0 0-2 2v10a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V7a2 2 0 0 0-2-2h-4" />
                </svg>

            </NavLink>
        </div>
    </div>
</div>

<div class="grid grid-cols-6 gap-4">

</div>