root = true

# All files
[*]
indent_style = space

# solidjs
[*.{js,ts,tsx}]
indent_size = 2

# Xml files
[*.xml]
indent_size = 2

[*.{csproj,props,config}]
indent_size = 2

# C# files
[*.cs]

#### Core EditorConfig Options ####

# Indentation and spacing
indent_size = 4
tab_width = 4

# New line preferences
insert_final_newline = false

