@inherits LayoutComponentBase

<div class="flex size-full h-[100vh] flex-col">
    <Navbar Navs="@([new("#", "任务定义"), new("#", "任务实例"), new("#", "任务日志")])" />

    <div class="flex-1 p-2">
        @Body
    </div>
</div>

<div id="blazor-error-ui" data-nosnippet>
    An unhandled error has occurred.
    <a href="." class="reload">Reload</a>
    <span class="dismiss">🗙</span>
</div>