@page "/Account/Register";

<div class="flex size-full flex-1 flex-col items-center justify-center">
    <EditForm Model="Input" method="post" FormName="register">
        <fieldset class="fieldset bg-base-200 border-base-300 rounded-box w-xs border p-4">
            <legend class="fieldset-legend">Register</legend>

            <label class="fieldset-label">Email</label>
            <InputText @bind-Value="Input.Email" id="Input.Email" class="input" placeholder="Email address" />

            <label class="fieldset-label">Password</label>
            <InputText @bind-Value="Input.Password" id="Input.Password" class="input" type="password" autocomplete="current-password" placeholder="Password" />
            
            <label class="fieldset-label">Confirm Password</label>
            <InputText @bind-Value="Input.ConfirmPassword" id="Input.ConfirmPassword" class="input" type="password" autocomplete="current-password" placeholder="Confirm Password" />

            <button type="submit" class="btn btn-block btn-primary mt-3">Register as new user</button>
        </fieldset>
    </EditForm>

    <div class="flex justify-between">
        <NavLink href="/Account/Login" class="btn btn-link" >Log in</NavLink>
    </div>
</div>

@code {

    [SupplyParameterFromForm]
    private RegisterModel Input { get; set; } = new();

    private class RegisterModel
    {
        public string? Email { get; set; }
        public string? Password { get; set; }
        public string? ConfirmPassword { get; set; }
    }
}
