<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Accounting.Web.Client.Layout.MainLayout)" >
            <NotAuthorized>
                NotAuthorized
            </NotAuthorized>
            <Authorizing>
                Authorizing
            </Authorizing>
            <NotAuthorized>
                <Accounting.Web.Client.RedirectToLogin></Accounting.Web.Client.RedirectToLogin>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector=".page-container" />
    </Found>

    <NotFound>
        <LayoutView Layout="typeof(Accounting.Web.Client.Layout.MainLayout)">
            <p>Sorry, there's nothing at this address.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    [Parameter]
    public RouteData routeData {get;set;} = default!;

    public Type GetLayoutType() {
        
        return typeof(Accounting.Web.Client.Layout.MainLayout);
    }
}   
    